#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=AirDroid Remote Control Plugin
Exec=/opt/google/chrome-unstable/google-chrome-unstable --profile-directory=Default --app-id=macmgoeeggnlnmpiojbcniblabkdjphe
Icon=chrome-macmgoeeggnlnmpiojbcniblabkdjphe-Default
StartupWMClass=crx_macmgoeeggnlnmpiojbcniblabkdjphe
