#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Calendar Clock
Exec=/opt/google/chrome-unstable/google-chrome-unstable --profile-directory=Default --app-id=galgfocamdohgeifjlbefkfpaalankfi
Icon=chrome-galgfocamdohgeifjlbefkfpaalankfi-Default
StartupWMClass=crx_galgfocamdohgeifjlbefkfpaalankfi
